code/REST.json
[
    {
        "id": "962ac72a.2f33a8",
        "type": "tab",
        "label": "REST",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ec6bf30e.bcd7b",
        "type": "http in",
        "z": "962ac72a.2f33a8",
        "name": "",
        "url": "/public/myresource",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "9d0d7e9d.50233"
            ]
        ]
    },
    {
        "id": "9d0d7e9d.50233",
        "type": "template",
        "z": "962ac72a.2f33a8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "this is my resource accessed by GET ",
        "output": "str",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "2864ed95.03b4f2"
            ]
        ]
    },
    {
        "id": "2864ed95.03b4f2",
        "type": "http response",
        "z": "962ac72a.2f33a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 150,
        "y": 320,
        "wires": []
    },
    {
        "id": "db72f38a.6c538",
        "type": "http in",
        "z": "962ac72a.2f33a8",
        "name": "",
        "url": "/public/myresource",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 460,
        "y": 100,
        "wires": [
            [
                "24cb5451.8bbe6c",
                "8429cb0.4951838"
            ]
        ]
    },
    {
        "id": "24cb5451.8bbe6c",
        "type": "template",
        "z": "962ac72a.2f33a8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "this is my resource accessed by POST \nI received {{payload.nome}}",
        "output": "str",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "2864ed95.03b4f2"
            ]
        ]
    },
    {
        "id": "8429cb0.4951838",
        "type": "debug",
        "z": "962ac72a.2f33a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "f7e950d6.20047",
        "type": "change",
        "z": "962ac72a.2f33a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"temperature\": 60*$random()}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "6920ece7.d13fb4"
            ]
        ]
    },
    {
        "id": "3cf24e2d.0802b2",
        "type": "http in",
        "z": "962ac72a.2f33a8",
        "name": "",
        "url": "/public/thing1/temperature",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "f7e950d6.20047"
            ]
        ]
    },
    {
        "id": "6920ece7.d13fb4",
        "type": "http response",
        "z": "962ac72a.2f33a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 440,
        "wires": []
    }
]