code/virtual sensor thingspeak.json
[
    {
        "id": "893853aa.b86a4",
        "type": "tab",
        "label": "virtual sensor thingspeak",
        "disabled": false,
        "info": ""
    },
    {
        "id": "73fe738d.d4605c",
        "type": "mqtt out",
        "z": "893853aa.b86a4",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "72f32434.886c0c",
        "x": 870,
        "y": 720,
        "wires": []
    },
    {
        "id": "4b4f4563.1f82ac",
        "type": "inject",
        "z": "893853aa.b86a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "channels/633283/publish",
        "payload": "field1=33&field2=99&status=MQTTPUBLISH",
        "payloadType": "str",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "39d8d9b1.20afe6"
            ]
        ]
    },
    {
        "id": "39d8d9b1.20afe6",
        "type": "function",
        "z": "893853aa.b86a4",
        "name": "",
        "func": "// A floating-point, pseudo-random number between 0 (inclusive) and 1 (exclusive).\n\nf1=5*Math.random();\nf2=10*Math.random()\nmsg.payload=\"field1=\"+f1.toString()+\"&field2=\"+f2.toString()+\"&status=MQTTPUBLISH\";\nmsg.topic = \"channels/633283/publish\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 500,
        "wires": [
            [
                "2ffadd5f.6a2ba2"
            ]
        ]
    },
    {
        "id": "fc012e24.d1f19",
        "type": "inject",
        "z": "893853aa.b86a4",
        "name": "RND temp between 1.5 and 4.5",
        "props": [
            {
                "p": "payload1",
                "v": "($random() * 3) + 1.5",
                "vt": "jsonata"
            },
            {
                "p": "payload2",
                "v": "($random() * 3) + 1.5",
                "vt": "jsonata"
            },
            {
                "p": "payload3",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "f3b21419.c93cd8"
            ]
        ]
    },
    {
        "id": "f3b21419.c93cd8",
        "type": "change",
        "z": "893853aa.b86a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"field1=\" & (payload1) & \"&field2=\" & (payload2) & \"&status=MQTTPUBLISH\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "channels/633283/publish",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "66992788.716278",
                "ea9f0602.14d8d8"
            ]
        ]
    },
    {
        "id": "66992788.716278",
        "type": "debug",
        "z": "893853aa.b86a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "ea9f0602.14d8d8",
        "type": "debug",
        "z": "893853aa.b86a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "2ffadd5f.6a2ba2",
        "type": "debug",
        "z": "893853aa.b86a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "989264f8.1ecb88",
        "type": "inject",
        "z": "893853aa.b86a4",
        "name": "RND temp between 0 and 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "channels/633283/publish",
        "payload": "\"field1=\" & (5*$random()) & \"&field2=\" \t& (5*$random()) & \"&status=MQTTPUBLISH\"",
        "payloadType": "jsonata",
        "x": 420,
        "y": 720,
        "wires": [
            [
                "de32207c.575af",
                "3aae9813.300948",
                "73fe738d.d4605c"
            ]
        ]
    },
    {
        "id": "de32207c.575af",
        "type": "debug",
        "z": "893853aa.b86a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 800,
        "wires": []
    },
    {
        "id": "3aae9813.300948",
        "type": "debug",
        "z": "893853aa.b86a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 640,
        "wires": []
    },
    {
        "id": "72f32434.886c0c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "FSQpGyYbAgETCTkrOi87DTg",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]